*{
    margin: 0;
    padding: 0;
}

.robot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}

.robot img{
    width: 30%;
}